@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
font-family: 'Noto Sans KR'; 
font-family: "Roboto";
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR';
    font-size: 17px;
    line-height: 1.5;
    color: #191919;
    min-width: 1320px;
    background-color: #F1EEE7;
}

a {
    text-decoration: none;
    color: #191919;
}

ul {
    list-style: none;
}

/* 헤더 */
header {
    background-color: #fff;
    width: 100%;
    height: 70px;
    /* position: fixed;
    top: 0;
    left: 0px;
    z-index: 99; */
    border-bottom: 1px solid #ccc;
}

/* 메뉴 박스 */
.nav {
    width: 80%;
    max-width: 1320px;
    height: 70px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

/* 로고 */
.logo {
    display: block;
}

/* 메뉴 부분 */
.gnb {
    padding-top: 24px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}

.gnb li {
    flex: 1;
    text-align: center;
    font-size: 20px;
}

.gnb li a {
    color: #87736B;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    display: block;
}

.gnb li:hover a {
    transform: translateY(-5px);
}

/* icon */
.icon {
    width: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    padding-top: 25px;
}

.icon li {
    flex: 1;
}

.icon li a {
    display: block;
}

.icon li:hover a {
    transform: translateY(-5px);
}

/* 감싸는 박스 */
.wrap {
    width: 1320px;
    margin: 60px auto 0;
}
h1{
    color: #56442E;
    font-size: 45px;
    font-family: "Roboto";
    padding-bottom: 57px;
    font-weight: 500;
    position: relative;
}
.cat_foot{
    position: absolute;
    top: 16px;
    left: 248px;
}
/* 탭메뉴 꾸미기 */
.tab {
    overflow: hidden;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.tabnav {
    width: 50%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    background: url(../images/community/bg1.png) no-repeat center bottom;
    height: 617px;
}

.tabnav li a {
    display: block;
    padding: 5px 10px;
    margin-right: 30px;
    position: relative;
    z-index: 2;
    font-size: 22px;
    color: #463935;
    font-weight: 500;
    font-family: "Roboto";
}

.tabnav li a:hover {
   border-bottom: 2px solid #463935;
}

/* 탭메뉴 클릭했을 때 변화 꾸미기 */
.tabnav li a.active {
    border-bottom: 2px solid #463935;
}

/* 탭컨테츠 꾸미기 */
.tabcontent {
    width: 50%;
    padding: 5px 59px;
    height: auto;
}
h2{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 34px;
    color: #463935;
    font-size: 23px;
    font-family: "Roboto";
    font-weight: 600;
}
select{
    border: none;
    background: none;
    font-weight: 600;
    font-size: 17px;
}
/* f_q */
.f_q{
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;

}

.f_q a{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; 
    padding: 10px 0;
    
}
.f_q li{
    border-bottom: 1px solid #707070;
}
.first{
    width: 110px;
    text-align: center;
}

.f_q_text{
    display: none;
    width: 90%;
    padding: 0 20px 10px;
    font-size: 16px;
    line-height: 1.7;
}
/* Q&A 탭 */
#tab02 table{
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}
#tab02 td{
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #707070;
}
#tab02 td:first-child{
    width: 15%;
}
#tab02 td:nth-child(2){
    width: 15%;
}
#tab02 td:nth-child(3){
    width: 25%;
    text-align: left;
    padding-left: 20px;
}
#tab02 td:nth-child(4){
    width: 20%;
}
#tab02 td:last-child{
    width: 20%;
}

/* search */
#tab02 select{
    border: 1px solid #707070;
    height: 30px;
    border-right: 0;
    width: 100px;
    text-align: center;
    font-size: 16px;
}
#tab02 input{
    border: 1px solid #707070;
    height: 30px;
    background:none;
    width: 100px;
}
#tab02 button{
    height: 30px;
    background:none;
    border: 1px solid #707070;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    color: #463935;
    font-family: "Roboto";
    border-left: 0;
}
.search_box{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

/* EVENT탭 */
#tab03 h2{
    margin-bottom: 14px;
}
.event_box{
    width: 535px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.event_box img{
    padding-top: 20px;
    display: block;
    transition: .5s ease-in-out;
}
.event_box img:hover{
    opacity: .7;
}

/* Review탭 */
#tab04 table{
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}
#tab04 td{
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #707070;
}
#tab04 td:first-child{
    width: 15%;
}
#tab04 td:nth-child(2){
    width: 15%;
}
#tab04 td:nth-child(3){
    width: 40%;
    text-align: left;
}
#tab04 td:nth-child(4){
    width: 20%;
}
#tab04 td:last-child{
    width: 10%;
}

/* 숫자 */
.number {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.number a{
    display: inline-block;
    padding-right: 10px;
}
.number a:hover{
    font-weight: bold;
}

/* 선 */
.border{
    width: 100%;
    border-top: 1px solid #707070;
}

/* 푸터 */
footer {
    background-color: #F1EEE7;
}

/* 푸터 탑 */
.footer_top {
    width: 1320px;
    margin: auto;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
}

.footer_top ul {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}

.footer_top ul a {
    display: block;
    padding-left: 10px;
}

.footer_top ul li {
    padding-left: 5px;
}

.footer_top ul a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.footer_btn {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    background-color: unset;
    border: none;
    padding-right: 30px;
}

.footer_btn:hover {
    font-weight: bold;
    color: #26190F;
    text-decoration: underline;
}

.footer_btn::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-right: 1px solid #26190F;
    border-bottom: 1px solid #26190F;
    position: absolute;
    top: 22%;
    left: 150px;
    animation: ani2 0.7s infinite alternate;
}

@keyframes ani2 {
    0% {
        transform: translateY(-5px) rotate(45deg);
    }

    100% {
        transform: translateY(5px) rotate(45deg);
    }
}

/* 푸터 바텀 */
.footer_bottom_box {
    display: none;
}

.footer_bottom {
    border-top: 1px solid #999;
    font-size: 16px;
    width: 1320px;
    margin: auto;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: space-between;

}

/* 회사정보 */
.info {
    line-height: 1.8;
}

.info span:nth-child(1)::after {
    content: '';
    border-left: 1px solid #4e4337;
    margin: 0 10px;
}

i {
    font-size: 15px;
    color: #797979;
    display: block;
    margin-top: 15px;
}

/* cs 정보 */
.cs_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    font-size: 18px;
    line-height: 1.7;
}

.cs_info p {
    padding-left: 25px;
}
